
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/node_modules/
/public/js/
/dist/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
